DEBUG=1
SECRET_KEY=django-insecure-5v=pi38z*mjkv8xn#b!e6gt1)=46qdw2&8_@^@87(c)wdhmdj3
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DATABASE_URL=postgresql://postgres:postgres@db:5432/oj_project
GEMINI_API_KEY=AIzaSyBv6-14XssanLb6oKnViT5m4V5e0fYl9vo
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
STATIC_ROOT=/app/static/
MEDIA_ROOT=/app/media/